/* src/inventory_list/InventoryList.css */

.inventory-list {
    padding: 20px;
  }

  .inventory-list button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px; /* Added this line to add bottom padding */
  }
  
  .inventory-list button:hover {
    background-color: #0056b3;
  }
  
  .inventory-list h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    color: white;
    background-color: #007bff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  